.container {
  height: 500px;
  width: 1500px;
  background: lightblue;
  position: relative;
}

.head {
  height: 400px;
  width: 300px;
  background-color: red;
  border-radius: 100px;
  border: 2px solid black;
  position: absolute;
  left: 700px;
  top: 20px;
}

.head2 {
  height: 225px;
  width: 400px;
  background-color: white;
  border-radius: 150px;
  border: 2px solid black;
  position: absolute;
  left: 650px;
  top: 150px;
}

.head3 {
  height: 175px;
  width: 400px;
  background-color: red;
  border-radius: 150px;
  position: absolute;
  left: 650px;
  top: 150px;
}

.body {
  width: 250px;
  height: 125px;
  background-color: red;
  border-radius: 45px 45px 0px 0px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  position: absolute;
  left: 725px;
  top: 375px;
}

.chest {
  height: 77px;
  width: 100px;
  background-color: white;
  border-radius: 45px 45px 0px 0px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  position: absolute;
  left: 800px;
  top: 425px;
}

.nose {
  width: 300px;
  height: 300px;
  background-color: red;
  border: 2px solid black;
  border-radius: 300px;
  position: absolute;
  left: 700px;
  top: 150px;
}

.leftEyeOuter {
  width: 100px;
  height: 200px;
  background-color: white;
  border-radius: 45px 45px;
  position: absolute;
  left: 750px;
  top: 40px;
  border: 2px solid black;
}

.rightEyeOuter {
  width: 100px;
  height: 200px;
  background-color: white;
  border-radius: 45px 45px;
  position: absolute;
  left: 850px;
  top: 40px;
  border: 2px solid black;
}

.leftEyeIris {
  height: 75px;
  width: 50px;
  background-color: black;
  border-radius: 50px;
  position: absolute;
  left: 775px;
  top: 90px;
}

.rightEyeIris {
  height: 75px;
  width: 50px;
  background-color: black;
  border-radius: 50px;
  position: absolute;
  left: 875px;
  top: 90px;
}

.leftEyePupil {
  height: 20px;
  width: 15px;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  left: 795px;
  top: 110px;
}

.rightEyePupil {
  height: 20px;
  width: 15px;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  left: 890px;
  top: 110px;
}

.leftNostril {
  height: 50px;
  width: 25px;
  background-color: black;
  border-radius: 45px;
  position: absolute;
  left: 800px;
  top: 225px;
}

.rightNostril {
  height: 50px;
  width: 25px;
  background-color: black;
  border-radius: 45px;
  position: absolute;
  left: 875px;
  top: 225px;
}

.leftNostrilCover {
  height: 50px;
  width: 25px;
  background-color: red;
  border-radius: 45px;
  position: absolute;
  left: 794px;
  top: 230px;
}

.rightNostrilCover {
  height: 50px;
  width: 25px;
  background-color: red;
  border-radius: 45px;
  position: absolute;
  left: 880px;
  top: 230px;
}

.leftWingLevel1 {
  height: 400px;
  width: 100px;
  background-color: white;
  border-radius: 45px;
  border: 2px solid lightgrey;
  transform: rotate(-50deg);
  position: absolute;
  left: 550px;
  bottom: 145px;
}

.leftWingLevel2 {
  height: 400px;
  width: 100px;
  background-color: white;
  border-radius: 45px;
  border: 2px solid lightgrey;
  transform: rotate(-50deg);
  position: absolute;
  left: 550px;
  bottom: 100px;
}

.leftWingLevel3 {
  height: 400px;
  width: 100px;
  background-color: white;
  border-radius: 45px;
  border: 2px solid lightgrey;
  transform: rotate(-50deg);
  position: absolute;
  left: 550px;
  bottom: 55px;
}

.leftWingLevel4 {
  height: 400px;
  width: 100px;
  background-color: white;
  border-radius: 45px;
  border: 2px solid lightgrey;
  transform: rotate(-50deg);
  position: absolute;
  left: 600px;
  top: 125px;
}

.leftWingLevel5 {
  height: 250px;
  width: 75px;
  background-color: white;
  border-radius: 45px;
  border: 2px solid lightgrey;
  transform: rotate(-50deg);
  position: absolute;
  left: 650px;
  top: 275px;
}

.rightWingLevel1 {
  height: 400px;
  width: 100px;
  background-color: white;
  border-radius: 45px;
  border: 2px solid lightgrey;
  transform: rotate(50deg);
  position: absolute;
  left: 1050px;
  bottom: 145px;
}

.rightWingLevel2 {
  height: 400px;
  width: 100px;
  background-color: white;
  border-radius: 45px;
  border: 2px solid lightgrey;
  transform: rotate(50deg);
  position: absolute;
  left: 1050px;
  bottom: 100px;
}

.rightWingLevel3 {
  height: 400px;
  width: 100px;
  background-color: white;
  border-radius: 45px;
  border: 2px solid lightgrey;
  transform: rotate(50deg);
  position: absolute;
  left: 1050px;
  bottom: 55px;
}

.rightWingLevel4 {
  height: 400px;
  width: 100px;
  background-color: white;
  border-radius: 45px;
  border: 2px solid lightgrey;
  transform: rotate(50deg);
  position: absolute;
  left: 1000px;
  top: 125px;
}

.rightWingLevel5 {
  height: 250px;
  width: 75px;
  background-color: white;
  border-radius: 45px;
  border: 2px solid lightgrey;
  transform: rotate(50deg);
  position: absolute;
  left: 1000px;
  top: 275px;
}
